<div
  class="custom-section"
  {{ section.shopify_attributes }}
  style="background:{{ section.settings.background_hero }}"
>
  <div class="hero-custom-baner page-width ">
    <div class="hero-custom-baner-image">
      <img
        class="hero-custom-baner-image_left"
        src="https://www.telion.ch/thumbor/Nex-V9jdg3jSh_Vl0RUzPuyO1XQ=/filters:cachevalid(2022-12-02T15:45:21.304717):strip_icc():strip_exif()/cms/cms/illustrationen/service-b2b-shop.png"
        width="200px"
      >
    </div>
    <div class="hero_section_title">
      <h1 class="hero_section_title_h1">{{ section.settings.hero_title_custom }}</h1>
      <p class="hero_section_title_text">{{ section.settings.hero_title_text }}</p>
      <button class="hero_section_title_button" type="button">{{ section.settings.btn_title }}</button>
    </div>
  </div>
</div>

{{ 'custom.css' | asset_url | stylesheet_tag }}

{% schema %}
{
  "name": "Hero Custom New",
  "tag": "section",
  "class": "section_hero",
  "settings": [
    {
      "type": "text",
      "id": "hero_title_custom",
      "default": "НАДІЙНИЙ ПАРТНЕР ВАШОГО БІЗНЕСУ",
      "label": "Hero Title"
    },
    {
      "type": "text",
      "id": "hero_title_text",
      "default": "Ми - ваш надійний партнер у сфері реалізації пива та обладнання для розливу",
      "label": "Hero Text"
    },
    {
      "type": "text",
      "id": "btn_title",
      "default": "Register",
      "label": "Button name"
    },
    {
      "type": "color_background",
      "id": "background_hero",
      "label": "Background Section",
      "default": "linear-gradient(73deg, 73deg, rgba(40, 166, 215, .848), rgba(67, 109, 201, .74) 65.66%, rgba(36, 60, 168, .24))"
    },
    {
      "type": "image_picker",
      "id": "image_hero_custom",
      "label": "Image Hero"
    }
  ],

  "presets": [
    {
      "name": "Hero Custom"
    }
  ]
}
{% endschema %}
