<div
  class="custom-section"
  {{ section.shopify_attributes }}
  style="background:{{ section.settings.body_color }}"
>
  <div class="hero-custom-baner page-width ">
    <div
      class="hero_section_title"
    >
      <h1 class="hero_section_title_h1">{{ section.settings.hero_title_custom }}</h1>
      <p class="hero_section_title_text">{{ section.settings.hero_title_text }}</p>

      <button
        class="hero_section_title_button"
        type="button"
        style="background:{{ section.settings.btn_color }}"
      >
        <span class="span-btn">
          {{ section.settings.btn_title }}
        </span>
      </button>
    </div>
    <div class="hero-custom-baner-image">
      <img
        width="400"
        height="400"
        class="hero-custom-baner-image_left"
        loading="lazy"
        src="{{ section.settings.image_hero_custom | image_url: width: 400 }}"
      >
    </div>
  </div>
</div>

{{ 'custom.css' | asset_url | stylesheet_tag }}

{% schema %}
{
  "name": "Hero Custom New",
  "tag": "section",
  "class": "section_hero",
  "settings": [
    {
      "type": "text",
      "id": "hero_title_custom",
      "default": "НАДІЙНИЙ ПАРТНЕР ВАШОГО БІЗНЕСУ",
      "label": "Hero Title"
    },
    {
      "type": "text",
      "id": "hero_title_text",
      "default": "Ми - ваш надійний партнер у сфері реалізації пива та обладнання для розливу",
      "label": "Hero Text"
    },
    {
      "type": "text",
      "id": "btn_title",
      "default": "Register",
      "label": "Button name"
    },
    {
      "type": "color",
      "id": "body_color",
      "label": "Hero body color",
      "default": "#f0bd00"
    },
    {
      "type": "color",
      "id": "btn_color",
      "label": "Color button",
      "default": "#121212"
    },
    {
      "type": "image_picker",
      "id": "image_hero_custom",
      "label": "Image Hero"
    }
  ],

  "presets": [
    {
      "name": "Hero Custom"
    }
  ]
}
{% endschema %}
